 /* Snap */
 /* Copyright 2015 Shyam B */
body {font-size:2em;}
.matchbox {
    margin:1%;
    height: 20%;
    width: 20%;
    border:solid 1px #a8a8a8;
    border-radius:8px;
}
.boss {
    width: 100%;
    height: 100%;
    background: url('../images/boss.png');
}
.matchbox:hover {
    cursor: pointer;
}
.center {
    height:100%;
}
i.fa {
    font-size: 3em;
    position: relative;
    z-index: -1;
    display: table;
    margin: 0px auto;
    margin-top: 50%;
    color:#000;
}
.found {
    position: relative;
    z-index: -1;
}
.found i.fa {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari */
    transform: scale(1.2);
    transition: all .4s ease-in-out;
    transform: scale(1.2);
}
@media (min-width:992px) {
    i.fa {
        margin-top:40%;
    } 
}
@media (min-width:992px) {
    i.fa {
        margin-top:30%;
    } 
}

